* {
    margin: 0;
}

body {
    background-image: url(/imgs/photo-1568733873715-f9d497a47ea0\ \(3\).png);
    background-repeat: no-repeat;
    background-position: cover;
    font-family: 'Maven Pro', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
}

.header > img {
  position: absolute;
  top: 25px;
  left: 80px;
}

.header > h1 {
    color: rgb(255, 85, 0);
    font-family: 'Unbounded', cursive;
    position: absolute;
    top: 65px;
    left: 150px;
    font-size:35px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    gap: 20px;
}

.example {
    background-color: bisque;
    width: 250px;
    padding: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: transform linear 0.4s, opacity linear 0.4s;
    cursor: pointer;
    justify-content: space-between;
    position: relative;
}

.one {
    border-radius: 10px;
    position: absolute;
    top: 170px;
    left: 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 400px;
    filter: grayscale(100%);
}


.two {
    border-radius: 10px;
    position: absolute;
    top: 170px;
    left: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 400px;
    filter: grayscale(100%);
}

.three {
    border-radius: 10px;
    position: absolute;
    top: 170px;
    left: 1100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 300px;
    height: 400px;
    filter: grayscale(100%);
}

.example:hover {
    transform: scale(1.1);
    opacity: 1;
    color: rgb(255, 85, 0);
    background-color: rgb(30, 30, 30);
    filter: none;
}

